<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h5>
      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="announcement_list">
  <div class="field">
    <%= f.label :announcement_text %>
    <%= f.text_field :announcement_text %>
  </div>

   <% if @announcement.persisted? %>
      <% unless @announcement.announcement_image.blank?%>
      <%= image_tag @announcement.announcement_image.detail.url %>
          <% end %>
    <% end %>

  <div class="field">
    <%= f.file_field :announcement_image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>




  </div>