<h1>GA Announcements</h1>
<ul>
<% @announcements.each do |announcement| %>
    <li><% unless announcement.announcement_image.blank? %>
    <%= image_tag announcement.announcement_image.mini.url %>
    <% end %>
    <%= link_to announcement.announcement_text, announcement %> |
    <%= link_to 'Edit', edit_announcement_path(announcement) %> |
    <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
   <%end%>
  </ul>





<br />

<%= link_to 'New Announcement', new_announcement_path %>
