<% content_for(:header_greeting) do %>
  Listen Up!
<%end%>


<h3>GA Announcements</h3>

<div class="announcement_list">
<ul>
<% @announcements.each do |announcement| %>
    <li>
    <%= link_to announcement.announcement_text, announcement, class: "announcement_line"%>
        <%unless announcement.announcement_image.blank? -%>
        <%= image_tag announcement.announcement_image.mini.url %>
        <%end%>


    <div class="divider">
    Updated:
    <%= announcement.updated_at.to_s(:long)%>
    <%if can? :manage, :all %>

    <%= link_to 'Edit', edit_announcement_path(announcement), class:"edit_delete" %>
    <%= link_to 'Delete', announcement, method: :delete, data: { confirm: 'Are you sure?' }, class:"edit_delete" %>

    <%end%>
    </div>
    </li>
   <%end%>
  </ul>



<%= paginate @announcements, theme: 'twitter-bootstrap' %>
<%if can? :manage, :all %>
<%= link_to 'New Announcement', new_announcement_path, class:"button top_right" %>
<%end%>
</div>