<% content_for(:header_greeting) do %>
  Listen Up!
<%end%>
<p id="notice"><%= notice %></p>

<div class="announcement_list">

<h3><%= @announcement.announcement_text %></h3>
<% unless @announcement.announcement_image.blank? %>
<%= image_tag @announcement.announcement_image.detail.url %>
<br>
<% end %>

<%if can? :manage, :all %>
<%= link_to 'Edit', edit_announcement_path(@announcement), class:"edit_delete" %>
<%= link_to 'Back', announcements_path, class: "edit_delete" %>
<%end%>
</div>