<p id="notice"><%= notice %></p>

<h4><%= @announcement.announcement_text %></h4>
<% unless @announcement.announcement_image.blank? %>
<%= image_tag @announcement.announcement_image.detail.url %>
<% end %>

<br>


<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
