<p id="notice"><%= notice %></p>

<h4><%= @classroom.name %> |
  <%= @classroom.site.name %>
</h4>

<% unless @classroom.classroom_image.blank? %>
<%= image_tag @classroom.classroom_image.detail.url %>
<% end %>

<br>
<p>
  Seating capacity:
  <%= @classroom.seating_capacity %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
