<%= form_for(@course_category) do |f| %>
  <% if @course_category.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@course_category.errors.count, "error") %> prohibited this course_category from being saved:</h5>

      <ul>
      <% @course_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
