<h1>Listing course_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_categories.each do |course_category| %>
  <tr>
    <td><%= course_category.name %></td>
    <td><%= link_to 'Show', course_category %></td>
    <td><%= link_to 'Edit', edit_course_category_path(course_category) %></td>
    <td><%= link_to 'Destroy', course_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course category', new_course_category_path %>
