    <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

<div class="row">

<div class= "span4">


    <div class="form_fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :telephone %>
      <%= f.text_field :telephone %>
    </div>
    <div class="field">
      <%= f.label :birth_date %>
      <%= f.date_select :birth_date %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
</div>

<div class="span8">
  <div class="form_fields">
    <% if @user.persisted? %>
      <% unless @user.user_image.blank?%>
      <%= image_tag @user.user_image.detail.url %>
          <% end %>
    <% end %>
    <div class="field">
      <%= f.label :user_image %>
      <%= f.file_field :user_image %>
    </div>
     <div class="field">
      <%= f.label :profile %>
      <%= f.text_area :profile, class:"text_area" %>
    </div>

</div>
<% end %>
</div>
   </div>