<h1>GA Users</h1>


<% @users.each do |user| %>

<h5><%= link_to user.name, user %> |
    <%= user.email %> |
    <%= user.telephone %>
</h5>
<% unless user.user_image.blank? %>
<%= image_tag user.user_image.mini.url %>
<% end %>
<%= link_to 'Edit', edit_user_path(user) %> |
<%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br />

<%= link_to 'New User', new_user_path %>
