<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>User access:</b>
  <%= @user.user_access %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Telephone:</b>
  <%= @user.telephone %>
</p>

<p>
  <b>Birth date:</b>
  <%= @user.birth_date %>
</p>

<p>
  <b>Profile:</b>
  <%= @user.profile %>
</p>

<p>
  <b>User image:</b>
  <%= @user.user_image %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
