<% content_for(:header_greeting) do %>
Profile:
<%end%>


<div class="announcement_list">

  <h3><%= @user.name %></h3>

  <div class= "row">
    <div class="span5">
      <% unless @user.user_image.blank? %>
      <%= image_tag @user.user_image.detail.url %>
      <% end %>

      <p><%= mail_to @user.email %></p>

      <% unless @user.address.blank? %>
      <p><strong>Address:</strong>
        <%= @user.address %>
      </p>
      <%end%>
      <% unless @user.telephone.blank?%>
      <p><strong>Telephone:</strong>
      <%= @user.telephone %>
      </p>
      <%end%>
      <%unless @user.birth_date.blank?%>
      <p><strong>Date of Birth:</strong>
        <%= @user.birth_date.to_s(:long) %>
      </p>
      <%end%>

    </div>

    <div clas="span7">
      <%unless @user.profile.blank?%>
      <p><strong>Profile:</strong></p>
      <p><%= @user.profile %></p>
      <%end%>

      <%= link_to 'Edit', edit_user_path(@user), class:"edit_delete" %>

    </div>
  </div>
</div>