<% content_for(:header_greeting) do %>
  Profile:
<%end%>



<p id="notice"><%= notice %></p>

<h4><%= @user.name %></h4>

<% unless @user.user_image.blank? %>
<%= image_tag @user.user_image.detail.url %>
<% end %>

<br>
<p>Email:
  <%= @user.email %>
</p>
<p>
  Address:
  <%= @user.address %>
</p>
<p>
  Telephone:
  <%= @user.telephone %>
</p>
<p>
  Date of Birth:
  <%= @user.birth_date %>
</p>
<p>
  Profile:
  <%= @user.profile %>
</p>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
