<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h5>

      <ul>
      <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%if can? :manage, Enrollment %>
  <div class="field">
    <%= f.label :involvement %>
    <%= f.select :involvement, ["student", "instructor"], selected: "student" %>
  </div>
  <div class="field">
    <%= f.label :fee %>
    <%= f.text_field :fee %>
  </div>
  <div class="field">
    <%= f.label :grade %>
    <%= f.text_field :grade %>
  </div>
<%end%>

<%if can? :manage, Enrollment %>
    <%= f.label :user_id, "User" %>
    <%= f.select(:user_id, User.all.map {|u| [u.name, u.id]}) %>
  <%else%>
    <%=f.hidden_field :user_id, {value: @user.id} %>
  <%end%>


  <div class="field">
    <%= f.hidden_field :course_id, {value: @course.id} %>
 </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
