<h1>Listing enrollments</h1>
<% @enrollments.each do |enrollment| %>
            <%= enrollment.involvement %>
            <%= enrollment.fee %>
   <%= enrollment.grade %>
   <%=enrollment.user.name%> is enrolled in
 <%=enrollment.course.name %>
   <%= link_to 'Show', enrollment %>
    <%= link_to 'Edit', edit_enrollment_path(enrollment) %>
 <%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %>
 <br>

<% end %>


<br />

<%= link_to 'New Enrollment', new_enrollment_path %>
