<%= nested_form_for(@course) do |f| %>
<% if @course.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

  <ul>
    <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :site_id, "Campus" %>
  <%= f.select(:site_id, Site.all.map {|c| [c.name, c.id]}) %>
</div>
<div class="field">
  <%= f.label :course_category_id, "Course Category" %>
  <%= f.select(:course_category_id, CourseCategory.all.map {|c| [c.name, c.id]}) %>
</div>

<div class="field">
  <%= f.label :one_liner %>
  <%= f.text_field :one_liner %>
</div>
<div class="field">
  <%= f.label :course_image %>
  <%= f.file_field :course_image %>
</div>
<div class="field">
  <%= f.label :advertised_fee %>
  <%= f.text_field :advertised_fee %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<%= render 'fields', f: f %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

  <% if @course.persisted? %>
      <% unless @course.course_image.blank?%>
      <%= image_tag @course.course_image.thumb.url %>
          <% end %>
    <% end %>