<%= nested_form_for(@course) do |f| %>
<% if @course.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

  <ul>
    <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :course_category_id, "Course Category" %>
  <%= f.select(:course_category_id, CourseCategory.all.map {|c| [c.name, c.id]}) %>
</div>
<div class="field">
  <%= f.label :course_image %><br />
  <%= f.text_field :course_image %>
</div>
<div class="field">
  <%= f.label :advertised_fee %><br />
  <%= f.text_field :advertised_fee %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</div>
<%= render 'fields', f: f %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
