<% content_for(:header_greeting) do %>
Courses:
<%end%>


<%if @user %>
<% if @course.enrollments %>
<% if @course.enrollments.where(user_id: @user.id).first%>
<% unless @course.enrollments.where(user_id: @user.id).first.grade.blank?%>
<h4>
  Grade Achieved:
  <%=@course.enrollments.where(user_id: @user.id).first.grade%>
  <%end%>
  <%end%>
  <%end%>
  <%end%>
</h4>


  <h3 class="course_title"><%= "#{@course.name} @ #{@course.site.name}" %></h3>

<div class="row">



<div class="span8">
<div class="form_fields">
<h4><%= @course.one_liner %></h4>


<% unless @course.course_image.blank? %>
<div class="show_course">
<%= image_tag @course.course_image.detail.url %>
</div>
<% end %>



<p>
 <%= @course.description %>
</p>



  <%unless @instructor_enrollments.blank?%>
  <h4>Instructor(s)</h4>
  <ul>
    <% @instructor_enrollments.each do |instructor_enrollment| %>
    <li><%= instructor_enrollment.user.name %></li>

  <%end%>
  </ul>
  <%end%>

  <%unless@course.advertised_fee.blank?%>
  <h4>Tuition Fee</h4>
  <p> $
    <%= @course.advertised_fee.round(2) %></p>
  <%end%>

<%if @course.lessons %>
  <h4>Schedule</h4>
<ul>
  <% @course.lessons.each do |lesson| %>
  <li>
    <%= lesson.lesson_date.to_s(:long) %>:
    <%= lesson.time_slot %> session,
    <%= lesson.classroom.name %>
  </li>
  <%end%>
<%end%>

</ul>




</div>
</div>


<div class = "span4">

  <div class="navbox">
      <ul class="nav nav-list">
        <%if can? :manage, :all%>
        <li class="nav-header">Enrollment Options</li>
        <%end%>
         <% if can? :edit, Course %>
          <li>
         <%= link_to 'Edit Course Details', edit_course_path(@course) %>
          </li>
          <% end %>
        <li class = "active">
        <% if @course.users.include?(@user)  %>
         <%= link_to 'Disenroll Me', @course.enrollments.where(user_id: @user.id).first, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%else%>
          <%= link_to "Enroll Me", new_enrollment_path(course_id: @course.id) %>
          <%end%>
        </li>
        <% if can? :manage, Enrollment %>
        <li>
        <%= link_to "Enroll A User" ,new_enrollment_path(course_id: @course.id)%>
      </li>
      <% end %>

      </ul>
    </div>

  <%unless @course.users.blank? %>
    <div class="announcements">
      <% if (can? :edit, Course) || @course.users.include?(@user)  %>

      <h3>Peer Group</h3>
      <ul>
        <%@course.enrollments.all.each do |enrollment| %>
        <li><%= image_tag enrollment.user.user_image.mini.url %>
          <%=enrollment.user.name%>
          <%if can? :manage, :all %>
          <%=link_to 'Edit', edit_enrollment_path(enrollment) %> |
          <%= link_to 'Disenroll', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </li>
        <br>
        <%end%>
      </ul>
      <%end%>
      </div>
      <%end%>



</div>



</div>

