<h1>GA's Global Footprint</h1>



<% @sites.each do |site| %>

<h3><%= link_to site.name, site %></h3>
<% unless site.site_image.blank? %>
<%= image_tag site.site_image.thumb.url %>
<% end %>
<p><%= site.address %></p>
<td><%= site.telephone %></td>

<p><%= link_to 'Edit', edit_site_path(site) %> |
   <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

   <% end %>

   <br />

   <%= link_to 'New Site', new_site_path %>
