<% content_for(:header_greeting) do %>
GA Global:
<%end%>

<div class="announcement_list">

  <h3><%= @site.name %></h3>
  <div class= "row">
    <div class="span5">
      <% unless @site.site_image.blank? %>
      <%= image_tag @site.site_image.detail.url %>
      <% end %>
      <%unless @site.address.blank?%>
      <p><strong>Address:</strong>
        <%= @site.address %>
      </p>
      <%end%>
      <%unless @site.telephone.blank?%>
      <p><strong>Telephone:</strong>
        <%= @site.telephone %>
      </p>
      <%end%>

      <%unless @site.directions.blank?%>
      <p><strong>Directions:</strong>
        <%= @site.directions %>
      </p>
      <%end%>

      <% if can? :manage, :all%>
      <%= link_to 'Edit', edit_site_path(@site), class:"edit_delete" %>
      <%= link_to 'Back', sites_path, class:"edit_delete" %>
      <%end%>

    </div>

    <div class="span6">

      <% unless @site.classrooms.blank?%>
      <p><strong>Classrooms:</strong>
        <ul>
          <% @site.classrooms.all.each do |classroom| %>
          <li><p><strong>
            <%=link_to classroom.name, classroom %></strong> |
            Seating Capacity:
            <%=classroom.seating_capacity%></p>

          </li>
          <%end%>
          <%end%>


        </div>
      </div>
</div>