<p id="notice"><%= notice %></p>


  <h4><%= @site.name %></h4>

<% unless @site.site_image.blank? %>
<%= image_tag @site.site_image.detail.url %>
<% end %>
<br>
<p>Address:
  <%= @site.address %>
</p>

<p>Telephone:
  <%= @site.telephone %>
</p>

<p>
  Directions:
  <%= @site.directions %>
</p>
<% unless @site.classrooms.blank?%>
<p>
  Classrooms:
  <ul>
    <% @site.classrooms.all.each do |classroom| %>
    <li>
      <% unless classroom.classroom_image.blank? %>
      <%= image_tag classroom.classroom_image.mini.url %>
      <% end %>
      <%=link_to classroom.name, classroom %> | seating capacity:
      <%=classroom.seating_capacity%>
    </li>
    <%end%>
<%end%>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
