<!DOCTYPE html>
<html>
<head>
  <title>General Assembly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page">
    <ul class="nav">
      <li><%= link_to('Courses', courses_path) %></li>
      <li><%= link_to('Users', users_path) %></li>
      <li><%= link_to('Campuses', sites_path) %></li>
      <li><%= link_to('Classrooms', classrooms_path) %></li>
      <li><%= link_to('Course Categories', course_categories_path) %></li>
      <li><%= link_to('Lessons', lessons_path) %></li>
      <li><%= link_to('Enrollments', enrollments_path) %></li>
      <li><%= link_to('Announcements', announcements_path) %></li>

<% if current_user %>
    <p><%= "Logged in as #{current_user.email}" %> |
    <%= link_to 'Logout', session_path(session), method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>
    <%else%>
    <p>
      <%= link_to "Not currently logged-in" ,login_path, class:"login_status" %>
    </p>
  <%end%>


    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
